extends /blocks/layout-default/layout-default
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/main/main

block head
    - var pageTitle = 'Project Template';

block content
    //+header()
    +main()
    //+footer()
