.header
  display block
  background url('../images/header-bg.png') no-repeat center center
  background-size cover
  &__nav
    display flex
    align-items center
    justify-content flex-end
    height 130px
  &__nav-item
    padding 0 40px
    display flex
    align-items center
    height 52px
    font-family latoMedium
    font-size 18px
    text-transform uppercase
    text-decoration none
    color #fff
    border-radius 30px
    transition .3s
    &:hover
      color #3fbf98
      background-color #fff


